/* Menu selectors */

* {
    font-family:'Sigmar', cursive, 'Brush Script MT', cursive;
    text-shadow: -2px 0px 0px white,
                  2px 0px 0px white,
                 0px -2px 0px white,
                  0px 2px 0px white;
    width: 100%;
}

html {
    background-color: rgb(185, 195, 204);
}

body {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body > * {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.25rem;
    text-align: center;
}

main {
    flex: 1;
}

.list {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: '-';
    text-indent: 5px;
    font-size: 1.5rem;
    margin-left: 50px;
}

ul > li {
    font-size: 1.25rem;
}

.form {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    max-width: 70%;
}

.error-box {
    flex: 0 0 15vh;
}

.incorrect-input-message {
    flex-basis: 100%;
    text-shadow: -2px 0px 0px red,
                2px 0px 0px red,
                0px -2px 0px red,
                 0px 2px 0px red;
}

footer {
    flex: 0 1 100px;
    align-items: flex-end;
    font-size: small;
    letter-spacing: normal;
}


/* START */

.counter-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}


/* Game selectors */

.playing {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    width: fit-content;
    font-size: 1.5rem;
}

h2.round-number {
    margin-left: 10px;
}

h3 {
    font-size: 1.25rem;
}

.scores {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores > * {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.score {
    margin-left: 5px;
}

.round-result {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

button > img {
    max-width: 35%;
}

/* Result selectors */