* {
    font-family:'Sigmar', cursive, 'Brush Script MT', cursive;
    text-shadow: -2px 0px 0px white,
                  2px 0px 0px white,
                 0px -2px 0px white,
                  0px 2px 0px white;
}

html {
    background-color: rgb(185, 195, 204);
}

body {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body > * {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

main {
    flex: 1;
}

.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: '-';
    text-indent: 5px;
    font-size: 1.5rem;
}

ul > li {
    font-size: 1.25rem;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.incorrect-input-message {
    text-shadow: -2px 0px 0px red,
                2px 0px 0px red,
                0px -2px 0px red,
                 0px 2px 0px red;
}

footer {
    flex: 0 1 100px;
    align-items: flex-end;
    font-size: small;
    letter-spacing: normal;
}