/* Menu selectors */

* {
    font-family:'Sigmar', cursive, 'Brush Script MT', cursive;
    text-shadow: -2px 0px 0px white,
                  2px 0px 0px white,
                 0px -2px 0px white,
                  0px 2px 0px white;
}

html {
    background-color: rgb(185, 195, 204);
}

body {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body > * {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: '-';
    text-indent: 5px;
    font-size: 1.5rem;
}

ul > li {
    font-size: 1.25rem;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.error-box {
    flex: 0 0 15vh;
}

.incorrect-input-message {
    flex-basis: 100%;
    text-shadow: -2px 0px 0px red,
                2px 0px 0px red,
                0px -2px 0px red,
                 0px 2px 0px red;
}

footer {
    flex: 0 1 100px;
    align-items: flex-end;
    font-size: small;
    letter-spacing: normal;
}

.counter-screen {
    font-size: 10rem;
}


/* Game selectors */

.playing {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scores {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores > .player,
.scores > .computer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Result selectors */